/* Общие стили */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: rgb(255, 255, 255);

  background-color: rgb(132, 157, 143);

}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  text-decoration-color: rgb(159, 179, 168);
}

a:hover,
a:focus,
a:active {
  color: rgb(255, 188, 158);
}

/* Стили для фоновой картинки на главной странице */

.index-page {
  background-image: url("../img/ice-cream-1-background.png");
  background-repeat: no-repeat;
  background-position: center 0px;
}

/* .index-page {
  background-image: url("../../gllacy/preview/gllacy-index.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
} */

/* Visually-hidden */

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0px !important;

  border: 0px !important;

  clip-path: inset(0px 0px 0px 0px) !important;
  overflow: hidden !important;
}

/* Общие стили для тектстовых полей форм */

input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="text"]:hover {
  border-width: 2px;
  border-color: rgb(154, 154, 154);
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:hover,
input[type="text"]:focus {
  border-width: 2px;
  border-color: rgb(46, 136, 228);
}

input[type="email"]:valid,
input[type="password"]:valid,
input[type="search"]:valid,
input[type="text"]:valid {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(50, 50, 50);
}

/* Стили для шапки */

.main-header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 9px;
  padding: 0 27px;
}

.main-navigation {
  display: flex;

  line-height: 18px;
  color: rgb(255, 255, 255);
}

.main-header-logo {
  width: 154px;
  height: 64px;

  align-self: flex-end;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  padding: 0px;
  width: 600px;
  margin-left: 24px;
  margin-top: 8px;

  display: flex;
  align-items: center;
}

.main-menu {
  margin-right: 28px;
}

.user-navigation {
  width: 245px;
  margin-left: auto;
  margin-top: 8px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search,
.navigation-enter {
  margin-right: 10px;
}

.search a,
.navigation-enter a,
.cart-empty,
.cart-not-empty {
  text-decoration: none;
}

.search a,
.navigation-enter a,
.cart-empty,
.cart-empty:hover,
.cart-empty:active {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.main-menu:hover,
.main-menu:focus,
.main-menu:active {
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
}

.main-menu.current {
  color: rgb(255, 255, 255);

  background-color: rgb(208, 112, 88);
}

.search a:hover,
.search a:focus,
.navigation-enter a:hover,
.navigation-enter a:focus,
.cart-not-empty,
.cart-not-empty:hover,
.cart-not-empty:active {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
}

.call-us {
  width: 267px;
  margin-left: auto;
  margin-top: -2px;

  text-align: right;

  align-self: flex-end;
}

.call-us p {
  margin: 0px;
  padding: 0px;
}

.call-hours {
  font-size: 14px;
  line-height: 16px;

  text-align: right;
}

.call-us .tel {
  margin-top: 4px;

  font-size: 22px;
  line-height: 24px;
}

/* Стили для main index.html */

.body-container {
  width: 1200px;
  margin-top: 275px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

/* Стили для main inner.html */
.inner-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 27px;

  display: flex;
  flex-direction: column;
}



/* Стили для переключателей фона */

.switch-slides {
  list-style: none;
}

.switch-button {
  background-color: rgb(132, 157, 143);
}

.switch-button:hover {
  background-color: rgb(178, 193, 183);

  cursor: pointer;
}

.switch-button.active,
.switch-button:active {
  background-color: rgb(255, 255, 255);

}

/* Стили для кнопок */

.button {
  font-size: 18px;
  line-height: 24px;

  color: rgb(255, 255, 255);
  text-decoration: none;

  background-image: linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}

.button:hover,
.button:focus {
  color: rgb(255, 255, 255);
}

.button:active {
  background-image: linear-gradient(0deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
}

/* Стили для текста слайдов и кнопок */

.special-offers-item {
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 40px;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.special-offers-item p {
  margin: 0px;
  padding: 0px;
  padding-bottom: 30px;
}

.special-offers-item .button {
  font-size: 32px;
  line-height: 44px;
}

/* Стили для предложений по малине и шоколаду */

.free-items {
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
}

.free-raspberries,
.free-chocolate {
  width: 560px;
  height: 230px;

  border-radius: 15px;
}

.free-raspberries {
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
}

.free-chocolate {
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
}

.special-offers h3 {
  font-size: 35px;
  line-height: 41px;
}

.free-raspberries p,
.free-chocolate p {
  font-size: 18px;
}

/* Стили для предложений по наиболее популярным товарам, а также каталога с товарами */
.best-sellers {
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 0;
}

.best-sellers-item,
.catalog-item {
  width: 267px;
}

.best-sellers-item a,
.catalog-item a {
  display: flex;
  flex-direction: column-reverse;
}

.catalog-item a:nth-last-of-type(-n + 5) {
  margin-bottom: 30px;
}

.best-sellers ul,
.catalog ul {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.best-sellers-item h3,
.catalog-item h3 {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  text-align: center;
}

.best-sellers-item b,
.catalog-item b {
  font-size: 45px;
  line-height: 45px;
}

.best-sellers-item p,
.catalog-item p {
  margin-top: -60px;

  z-index: 1;
}

.best-sellers-item .weight,
.catalog-item .weight {
  font-size: 30px;
  line-height: 45px;
}

/* Стили для описания преимуществ магазина */

.our-features {
  width: 1146px;
  height: 307px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 40px;

  background-image: url("../img/waffle-background.jpg");
  border-radius: 15px;
}

.our-features ul {
  padding: 0;
}

.our-features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.features-list {
  list-style: none;

  column-count: 2;
  column-gap: 60px;
}

.features-list li {
  display: inline-block;
}

.our-features p {
  font-weight: 400;
  color: rgb(50, 50, 50);
}

/* Стили для описания блога и раздела с рассылкой*/

.blog-and-news {
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
}

.our-blog {
  width: 560px;
  height: 220px;

  background-image: url("../img/strawberry-background.png");
}

.our-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.our-blog b {
  font-size: 24px;
  line-height: 30px;
  color: rgb(50, 50, 50);

  text-decoration: underline;
}

.our-news {
  width: 560px;
  height: 220px;

  background-image: url("../img/contact-background.png");
}

.our-news div {
  width: 550px;
  height: 210px;
  margin: 5px;

  background-color: rgb(248, 247, 244);
  border-radius: 10px;
}

.our-news p {
  font-weight: 400;
  color: rgb(50, 50, 50);
}

.our-news input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(153, 153, 153);

  border-style: solid;
  border-width: 1px;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
}

/* Стили для раздела с контактной информацией */

.our-contacts {
  position: relative;
}

.contacts {
  position: absolute;
  top: 61px;
  right: 27px;
  width: 300px;
  height: 305px;

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.our-contacts p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(50, 50, 50);
}

.our-contacts address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgb(50, 50, 50);
}

.our-contacts .tel {
  font-size: 18px;
  font-weight: 700;
}

/* Стили для подвала */

.main-footer {
  width: 1200px;
  padding: 0 27px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer ul {
  padding: 0;
}

.footer-navigation {
  list-style: none;
}

.footer-navigation a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-social {
  list-style: none;
}

a.social-button {
  background-color: rgb(230, 235, 233)
}

a.social-button:hover {
  background-color: rgb(255, 255, 255)
}

a.social-button:active {
  background-color: rgb(233, 233, 233)
}

.footer-navigation .for-suppliers {
  font-weight: 700;
}

.footer-copyright,
.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* Стили для хлебных крошек и заголовка страницы с каталогом*/

.breadcrumbs {
  width: 853px;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

h1 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

/* Стили для формы поиска */

.filter {
  margin-bottom: 40px;
}

.filter label,
.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter option,
.filter-option label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.sort-form {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.sort {
  width: 193px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
}

.price-range {
  width: 219px;
  margin: 0;
  margin-right: 15px;
}

.fat-content {
  width: 415px;
}

.filling {
  width: 702px;
  margin-right: 24px;
}

.sort-form button {
  width: 145px;
}

.fat-content li,
.filling li {
  display: inline-block;
}

.sort select,
.price-range input,
.fat-content ul,
.filling ul {
  color: rgb(255, 255, 255);

  background-color: rgb(169, 185, 175);
}

.sort select:hover,
.sort select:focus {
  color: rgb(50, 50, 50);
}

.filter button {
  align-self: flex-end;

  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);

  background-color: rgb(157, 177, 165);
}

.filter button:hover {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.filter button:active {
  color: rgb(50, 50, 50);

  background-color: rgb(234, 234, 234);
}

/* Стили для нумерации страниц */
.pagination-list {
  align-self: flex-end;
}

.pagination-list ul {
  padding: 0;

  list-style: none;
}

.pagination-list li {
  display: inline-block;
}

.pagination-item {
  line-height: 18px;
  font-weight: 500;
}

.pagination-item a {
  text-decoration: none;
}

.pagination-item-current a,
.pagination-item a:active {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.pagination-item a:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(157, 177, 165);

  cursor: pointer;
}



/* Скрытые блоки */

.catalog-menu,
.search form,
.navigation-enter form,
.modal-feedback,
.cart,
.switch-button {
  display: none;
}
