/* Шрифты */

@font-face {
  font-family: 'Roboto';
  font-weight: 400;

  src:
  url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;

  src:
  url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;

  src:
  url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
}

/* Общие стили */

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  margin: 0;
  padding: 0;

  color: rgb(255, 255, 255);
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  text-decoration: none;

  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: rgb(255, 188, 158);
}

img {
  max-width: 100%;
  height: auto;
}

/* Подчеркивание для ссылок */

.link-decoration {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, .3);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .3);
}

a:hover .link-decoration,
a:focus .link-decoration,
a:active .link-decoration {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 188, 158, .3);
  box-shadow: 0 1px 0 0 rgba(255, 188, 158, .3);
}

/* visually-hidden */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

/* Общие стили для тектстовых полей форм */

.text-input {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  padding: 10px 14px 8px;

  color: rgb(50, 50, 50);
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.feedback-form textarea {
  padding: 8px 14px 24px;
}

.text-input:hover {
  padding: 9px 14px 7px;

  border-width: 2px;
  border-color: rgb(154, 154, 154);
}

.text-input:focus {
  padding: 9px 14px 7px;

  border-width: 2px;
  border-color: rgb(46, 136, 228);
  outline: none;
}

.feedback-form textarea:hover,
.feedback-form textarea:focus {
  padding: 7px 14px 23px;
}

.text-input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  opacity: 1;
  color: rgb(153, 153, 153);
}

.text-input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  opacity: 1;
  color: rgb(153, 153, 153);
}

.text-input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  opacity: 1;
  color: rgb(153, 153, 153);
}

.text-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  opacity: 1;
  color: rgb(153, 153, 153);
}

/* Стили для стандартных кнопок */

.button {
  display: block;

  padding: 9px 0 11px;

  cursor: pointer;
  text-align: center;

  color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 104, 67)), to(rgb(231, 74, 53)));
  background-image: linear-gradient(to bottom, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.slide-button {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;

  width: 280px;
  margin: 0 auto;

  border-radius: 35px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.small-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.login-button {
  width: 100px;

  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
}

.free-raspberries-button {
  width: 165px;
  padding: 10px 0 11px;
}

.free-chocolate-button {
  width: 189px;
  padding: 10px 0 11px;
}

.catalog-item .view-button,
.best-sellers-item .view-button {
  position: absolute;
  bottom: -52px;
  left: 33px;

  display: none;

  width: 200px;

  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
}

.our-news-button {
  width: 128px;
}

.our-contacts-button {
  width: 252px;
}

.proceed-to-checkout-button {
  -ms-flex-item-align: end;
  align-self: flex-end;

  width: 170px;

  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
}

.popup-button {
  width: 139px;
  margin-left: auto;
}

.button:hover,
.button:focus {
  color: rgb(255, 255, 255);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 104, 67, .8)), to(rgba(231, 74, 53, .8)));
  background-image: linear-gradient(to bottom, rgba(242, 104, 67, .8) 0%, rgba(231, 74, 53, .8) 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background-color: rgb(0, 0, 0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 74, 53, .93)), to(rgba(242, 104, 67, .93)));
  background-image: linear-gradient(to bottom, rgba(231, 74, 53, .93) 0%, rgba(242, 104, 67, .93) 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

/* Стили для слайдера */

.site-wrapper {
  min-width: 1200px;

  -webkit-transition: background-image .5s ease, background-color .5s ease;
  transition: background-image .5s ease, background-color .5s ease;

  background-color: rgb(132, 157, 143);
  background-image: url('../img/ice-cream-1-background.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.site-wrapper::before,
.site-wrapper::after {
  visibility: hidden;

  content: '';
}

.site-wrapper::before {
  background-image: url('../img/ice-cream-2-background.png');
}

.site-wrapper::after {
  background-image: url('../img/ice-cream-3-background.png');
}

.slider {
  position: relative;

  margin-bottom: 41px;
  padding-top: 274px;

  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  font-size: 60px;
  line-height: 60px;

  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;

  text-align: center;
}

.slider-controls {
  font-size: 0;

  position: absolute;
  z-index: 2;
  bottom: 21px;
  left: 27px;
}

.slider-controls label {
  display: inline-block;

  width: 21px;
  height: 21px;
  margin-right: 8px;

  cursor: pointer;
  vertical-align: top;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, .4);
}

#slider-product-1:checked~.site-wrapper {
  background-color: rgb(132, 157, 143);
  background-image: url('../img/ice-cream-1-background.png');
}

#slider-product-2:checked~.site-wrapper {
  background-color: rgb(137, 150, 166);
  background-image: url('../img/ice-cream-2-background.png');
}

#slider-product-3:checked~.site-wrapper {
  background-color: rgb(157, 139, 132);
  background-image: url('../img/ice-cream-3-background.png');
}

#slider-product-1:checked~.site-wrapper #slide1,
#slider-product-2:checked~.site-wrapper #slide2,
#slider-product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#slider-product-1:checked~.site-wrapper label[for='slider-product-1'],
#slider-product-2:checked~.site-wrapper label[for='slider-product-2'],
#slider-product-3:checked~.site-wrapper label[for='slider-product-3'] {
  background-color: rgb(255, 255, 255);
}

/* Стили для страницы с каталогом */

.catalog-page {
  min-width: 1200px;

  background-color: rgb(132, 157, 143);
  background-image: url('../img/background-light.png');
  background-repeat: repeat-x;
  background-position: top center;
}

.inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 27px;
}

/* Стили для шапки */

.main-header {
  width: 1200px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 9px 27px 0;
}

.main-navigation {
  line-height: 18px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  color: rgb(255, 255, 255);
}

/* Главное меню шапки */

.main-header-logo {
  width: 154px;
  height: 64px;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  max-width: 680px;
  margin-left: 10px;
}

.main-menu {
  display: block;

  margin-right: 2px;
  margin-bottom: 3px;
  padding: 6px 13px 8px;

  border-radius: 25px;
}

/* Пользовательское меню шапки */

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  max-width: 300px;
  margin-left: auto;
  padding: 0;
  padding-top: 14px;
}

.user-navigation li {
  margin-left: 10px;
}

.search {
  position: relative;

  width: 32px;
}

.navigation-login,
.empty-cart,
.full-cart {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
}

.login-link,
.empty-cart-link,
.full-cart-link {
  margin-bottom: 4px;
  padding: 8px 17px 8px 44px;

  border-radius: 30px;
}

.login-link,
.empty-cart-link {
  background-color: rgba(255, 255, 255, .2);
}

.full-cart-link {
  background-color: rgb(248, 247, 244);
}

.search-link::before,
.login-link::before,
.empty-cart-link::before,
.full-cart-link::before {
  position: absolute;
  top: 0;

  width: 32px;
  height: 32px;

  content: '';

  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-link::before {
  background-color: rgba(255, 255, 255, .2);
  background-image: url('../img/loupe.svg');
}

.login-link::before {
  left: 11px;

  background-image: url('../img/entrance-white.svg');
}

.empty-cart-link::before {
  left: 11px;

  background-image: url('../img/basket.svg');
}

.full-cart-link::before {
  left: 11px;

  background-image: url('../img/basket-red.svg');
}

.search-link,
.login-link,
.empty-cart-link,
.full-cart-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  position: relative;

  display: block;
}

.search-link,
.login-link,
.empty-cart-link,
.empty-cart-link:hover,
.empty-cart-link:focus,
.empty-cart-link:active {
  color: rgb(255, 255, 255);
}

.full-cart-link {
  color: rgb(50, 50, 50);
}

/* Наведение и нажатие на ссылки в шапке */

.main-menu:hover,
.main-menu:focus,
.main-menu:active {
  color: rgb(50, 50, 50);
  background-color: rgb(248, 247, 244);
}

.main-menu:hover .link-decoration,
.main-menu:focus .link-decoration,
.main-menu:active .link-decoration {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-menu:active {
  -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
  box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.main-menu.current {
  color: rgb(255, 255, 255);
  background-color: rgb(208, 112, 88);
}

.login-link:hover,
.login-link:focus,
.full-cart-link:hover,
.full-cart-link:focus,
.full-cart-link:active {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  color: rgb(50, 50, 50);
  background-color: rgb(248, 247, 244);
}

.search-link:hover::before,
.search-link:focus::before {
  background-color: rgb(248, 247, 244);
  background-image: url('../img/loupe-black.svg');
}

.login-link:hover::before,
.login-link:focus::before {
  background-image: url('../img/entrance.svg');
}

/* Телефон в шапке */

.call-us {
  max-width: 300px;
  margin-left: auto;

  text-align: right;
}

.call-us p {
  margin: 0;
  padding: 0;
}

.call-hours {
  font-size: 14px;
  line-height: 16px;

  text-align: right;
}

.call-us .tel {
  font-size: 22px;
  line-height: 24px;

  margin-top: 4px;
}

/* Стили для предложений по малине и шоколаду */

.free-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-right: 27px;
  margin-bottom: 40px;
  margin-left: 27px;
}

.free-raspberries,
.free-chocolate {
  position: relative;

  width: 560px;
  padding: 16px 19px;
  padding-bottom: 113px;

  border-radius: 15px;
  background-repeat: no-repeat;
}

.free-raspberries {
  background-color: rgb(100, 20, 30);
  background-image: url('../img/raspberry-background.png');
}

.free-chocolate {
  background-color: rgb(65, 40, 30);
  background-image: url('../img/chocolate-background.png');
}

.special-offers h3 {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.free-raspberries p,
.free-chocolate p {
  font-size: 18px;

  margin: 0;
  padding: 0;
}

.free-raspberries .button,
.free-chocolate .button {
  position: absolute;
  right: 20px;
  bottom: 23px;
}

/* Стили для предложений по наиболее популярным товарам, а также каталога с товарами */

.best-sellers {
  margin-top: 5px;
  margin-right: 27px;
  margin-bottom: 33px;
  margin-left: 27px;
  padding: 0;
}

.best-sellers-item::before {
  position: absolute;

  width: 61px;
  height: 61px;

  content: '';

  background-image: url('../img/hit.svg');
}

.best-sellers-item,
.catalog-item {
  position: relative;
  z-index: 1;

  width: 267px;
  margin-left: 26px;
}

.catalog {
  margin-bottom: 30px;
}

.catalog-item {
  margin-bottom: 32px;
}

.best-sellers-item a,
.catalog-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.best-sellers ul,
.catalog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
  margin-left: -26px;
  padding: 0;

  list-style: none;
}

.best-sellers-item h3,
.catalog-item h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 6px;
  margin-left: 5px;
  padding: 0;

  text-align: center;
}

.best-sellers-item b,
.catalog-item b {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  position: relative;
}

.best-sellers-item b::after,
.catalog-item b::after {
  position: absolute;
  bottom: 7px;
  left: 82px;

  width: 76px;
  height: 38px;

  content: '';

  background-image: url('../img/ruble.png');
  background-repeat: no-repeat;
}

.item-price {
  z-index: 1;

  margin-top: -58px;

  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}

.best-sellers-item .weight,
.catalog-item .weight {
  font-size: 30px;
  line-height: 45px;
}

/* Стили для предложений по товарам при наведении */

.best-sellers-item::after,
.catalog-item::after {
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -13px;

  display: none;

  width: 293px;
  height: 405px;

  content: '';

  border-radius: 5px;
  background-color: rgba(255, 255, 255, .2);
}

.best-sellers-item:hover::after,
.catalog-item:hover::after,
.best-sellers-item:focus::after,
.catalog-item:focus::after,
.view-button:focus .catalog-item::after {
  display: block;
}

.best-sellers-item:hover .view-button,
.catalog-item:hover .view-button,
.best-sellers-item:focus .view-button,
.catalog-item:focus .view-button {
  display: block;
}

.best-sellers-item:hover,
.catalog-item:hover,
.best-sellers-item:focus,
.catalog-item:focus,
.view-button:focus .catalog-item {
  z-index: 2;
}

.best-sellers-item:hover a,
.catalog-item:hover a,
.best-sellers-item a:focus,
.catalog-item a:focus {
  color: rgb(255, 255, 255);
}

.best-sellers-item:hover .link-decoration,
.catalog-item:hover .link-decoration,
.best-sellers-item .link-decoration:focus,
.catalog-item .link-decoration:focus {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, .3);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .3);
}

/* Стили для описания преимуществ магазина */

.our-features {
  width: 1146px;
  margin-right: 27px;
  margin-bottom: 40px;
  margin-left: 27px;
  padding: 25px 20px 20px;

  border-radius: 15px;
  background-color: rgb(237, 225, 200);
  background-image: url('../img/waffle-background.png');
}

.our-features ul {
  margin: 0;
  padding: 0;
}

.our-features h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  margin: 0;
  padding: 0;

  color: rgb(50, 50, 50);
}

.features-list {
  list-style: none;
}

.features-list li {
  display: inline-block;

  width: 535px;
  margin-top: 21px;
  padding-bottom: 2px;
  padding-left: 57px;

  vertical-align: top;
}

.features-list li:nth-child(2n-1) {
  margin-right: 27px;
}

.our-features p {
  font-weight: 400;

  margin: 0;
  padding: 0;

  color: rgb(50, 50, 50);
}

.feature-item {
  position: relative;
}

.feature-item-1::before {
  position: absolute;

  width: 49px;
  height: 49px;

  content: '';

  background-image: url('../img/ice-cream.svg');
  background-repeat: no-repeat;
}

.feature-item-2::before {
  position: absolute;

  width: 49px;
  height: 49px;

  content: '';

  background-image: url('../img/cow.svg');
  background-repeat: no-repeat;
}

.feature-item-3::before {
  position: absolute;

  width: 49px;
  height: 49px;

  content: '';

  background-image: url('../img/eco.svg');
  background-repeat: no-repeat;
}

.feature-item-4::before {
  position: absolute;

  width: 49px;
  height: 49px;

  content: '';

  background-image: url('../img/thermometer.svg');
  background-repeat: no-repeat;
}

.feature-item-1::before,
.feature-item-2::before,
.feature-item-3::before,
.feature-item-4::before {
  top: -13px;
  left: 0;
}

/* Стили для описания блога */

.blog-and-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-right: 27px;
  margin-bottom: 39px;
  margin-left: 27px;
}

.our-blog {
  width: 560px;
  min-height: 220px;

  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  background-image: url('../img/strawberry-background.png');
  background-repeat: no-repeat;
}

.our-blog h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  margin: 24px 0 3px 20px;
  padding: 0;

  color: rgb(50, 50, 50);
}

.our-blog p {
  width: 285px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.our-blog a {
  font-size: 24px;
  line-height: 30px;

  margin: 0;
  padding: 0;

  text-decoration: underline;

  color: rgb(50, 50, 50);
}

.our-blog a:hover,
.our-blog a:focus,
.our-blog a:active {
  color: rgb(232, 77, 55);
}

/* Стили для описания раздела с рассылкой */

.our-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 560px;
  padding: 5px 5px 5px 6px;

  border-radius: 10px;
  background-image: url('../img/contact-background.png');
  background-size: 100%;
}

.our-news div {
  padding: 30px 20px 33px 20px;

  border-radius: 10px;
  background-color: rgb(248, 247, 244);
}

.our-news p {
  font-weight: 400;

  margin: 0;
  padding: 0;

  color: rgb(50, 50, 50);
}

.our-news form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 36px;
  margin-right: 1px;
  padding: 0;
}

.our-news input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  height: 44px;
  margin-right: 10px;
  padding: 9px 0 9px 13px;

  color: rgb(153, 153, 153);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
}

/* Стили для раздела с контактной информацией */

.our-contacts {
  position: relative;

  margin-bottom: 13px;
}

.contacts-map {
  width: 1200px;
  height: 430px;

  background-image:
    url('../img/pin.svg'),
    url('../img/pin-shadow.png'),
    url('../img/map-background.png');
  background-repeat: no-repeat;
  background-position:
    266px 142px,
    305px 175px,
    0 0;
}

.contacts-map iframe {
  border: none;
  width: 1200px;
  height: 430px;
}

.contacts {
  position: absolute;
  top: 63px;
  right: 27px;

  width: 302px;
  height: 305px;
  padding: 30px 25px;

  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.our-contacts p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  margin: 0;
  padding: 0;

  color: rgb(50, 50, 50);
}

.our-contacts address {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;

  margin-top: 2px;
  margin-bottom: 17px;

  color: rgb(50, 50, 50);
}

.our-contacts .tel {
  font-size: 18px;
  font-weight: 700;

  margin-top: 6px;
  margin-bottom: 4px;
}

.our-contacts-button {
  margin-top: 24px;
}

/* Стили для подвала */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 1146px;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
  padding: 0 0;
  padding-top: 5px;
}

.catalog-page .main-footer {
  padding-top: 18px;
}

.catalog-page .main-footer {
  border-top: 1px solid rgb(169, 187, 177);
}

.main-footer ul,
.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer ul {
  list-style: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  max-width: 293px;
}

.footer-social li {
  position: relative;

  width: 38px;
  height: 38px;
  margin-top: 18px;
  margin-right: 11px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-navigation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 13px;
}

.footer-navigation-column {
  padding-right: 12px;
  padding-left: 20px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-navigation a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.for-suppliers {
  position: relative;
}

.for-suppliers::before {
  position: absolute;
  top: 2px;
  left: -22px;

  width: 16px;
  height: 14px;

  content: '';

  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
}

.footer-navigation .for-suppliers {
  font-weight: 700;
}

.footer-copyright,
.footer-copyright a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

/* Кнопки социальных сетей, в том числе при наведении и нажатии */

.social-button::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 38px;
  height: 38px;

  content: '';

  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.twitter::before,
.twitter:hover::before,
.twitter:focus::before {
  opacity: 1;
  background-image: url('../img/twitter.svg');
}

.twitter::before {
  opacity: .8;
}

.instagram::before,
.instagram:hover::before,
.instagram:focus::before {
  opacity: 1;
  background-image: url('../img/instagram.svg');
}

.instagram::before {
  opacity: .8;
}

.facebook::before,
.facebook:hover::before,
.facebook:focus::before {
  opacity: 1;
  background-image: url('../img/fb.svg');
}

.facebook::before {
  opacity: .8;
}

.vkontakte::before,
.vkontakte:hover::before,
.vkontakte:focus::before {
  opacity: 1;
  background-image: url('../img/vk.svg');
}

.vkontakte::before {
  opacity: .8;
}

.twitter:active::before {
  background-image: url('../img/twitter-active.svg');
}

.instagram:active::before {
  background-image: url('../img/instagram-active.svg');
}

.facebook:active::before {
  background-image: url('../img/fb-active.svg');
}

.vkontakte:active::before {
  background-image: url('../img/vk-active.svg');
}

/* Стили для хлебных крошек и заголовка страницы с каталогом */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  margin: 0;
  margin-top: -18px;
  margin-bottom: 2px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 20px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  font-size: 16px;

  position: absolute;
  top: -1px;
  right: -17px;

  width: 10px;
  height: 10px;

  content: '»';
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

h1 {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  margin-top: 2px;
  margin-bottom: 25px;
  padding: 0;
}

/* Стили для формы фильтра */

.select-container {
  position: relative;

  display: inline-block;
  overflow: hidden;

  width: 193px;
  height: 36px;
}

.filter {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}

.sort-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sort-form .form-element {
  margin-right: 16px;
  margin-bottom: 10px;
}

.sort:hover select {
  color: rgb(50, 50, 50);
}

.select-container:hover::after {
  background-image: url('../img/icon-down-dir.svg');
}

.filter label {
  display: block;

  margin: 0;
  padding: 0;
}

.form-element label,
.form-element legend,
.range-output {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  margin-bottom: 7px;
  margin-left: 15px;
}

.filter-option label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter p {
  margin: 0;
  padding: 0;
}

.range-ruler {
  position: relative;

  width: 218px;
  height: 36px;
}

.range-ruler::before {
  position: absolute;
  top: 15px;
  left: 20px;

  width: 176px;
  height: 4px;

  content: '';

  background-color: rgba(248, 247, 244, .5);
}

.range-ruler::after {
  position: absolute;
  top: 15px;
  left: 55px;

  width: 78px;
  height: 4px;

  content: '';

  background-color: rgb(248, 247, 244);
}

.range-min::before,
.range-max::before {
  position: absolute;
  z-index: 1;
  top: 7px;

  width: 20px;
  height: 20px;

  content: '';

  background-image: url('../img/filter-button.svg');
}

.range-min::before {
  left: 35px;
}

.range-max::before {
  left: 132px;
}

.range-min:hover,
.range-max:hover {
  cursor: pointer;
}

.fat-content li,
.filling li {
  display: inline-block;
}

.fat-content li {
  margin-right: 30px;
}

.fat-content li:last-child {
  margin-right: 0;
}

.fat-content-radio:not(:checked)+label::before {
  position: absolute;
  top: -2px;
  left: -32px;

  width: 22px;
  height: 22px;

  content: '';

  opacity: .75;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.fat-content-radio:checked+label::after {
  position: absolute;
  top: -2px;
  left: -32px;

  width: 22px;
  height: 22px;

  content: '';

  opacity: .75;
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.fat-content-option:hover>label::before,
.fat-content-option:hover>label::after,
.fat-content-radio:focus+label::after {
  opacity: 1;
}

.fat-content-radio:disabled+label::before,
.fat-content-radio:disabled+label::after {
  opacity: .25;
}

.filling li {
  margin-right: 34px;
}

.filling li:last-child {
  margin-right: 0;
}

.filling-checkbox:not(:checked)+label::before {
  position: absolute;
  top: -1px;
  left: -32px;

  width: 20px;
  height: 20px;

  content: '';

  opacity: .75;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.filling-checkbox:checked+label::after {
  position: absolute;
  top: -1px;
  left: -32px;

  width: 23px;
  height: 20px;

  content: '';

  opacity: .75;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.filling-option:hover>label::before,
.filling-checkbox:focus+label::before,
.filling-option:hover>label::after,
.filling-checkbox:focus+label::after {
  opacity: 1;
}

.filling-checkbox:disabled+label::before,
.filling-checkbox:disabled+label::after {
  opacity: .25;
}

.select-container,
.range-ruler,
.price-range input,
.fat-content ul,
.filling ul {
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, .2);
}

.sort-form select {
  padding: 8px 0 10px;
}

.fat-content ul,
.filling ul {
  padding: 7px 0 2px;
}

.sort-form select {
  z-index: 2;

  width: 150%;
  padding-right: 32px;
  padding-left: 12px;

  text-align: left;

  color: rgb(255, 255, 255);
  border: none;
  background: transparent;
}

.sort-form label {
  position: relative;
}

.select-container::after {
  position: absolute;
  top: 13px;
  right: 10px;

  width: 15px;
  height: 15px;

  content: '';

  background-image: url('../img/icon-down-dir-white.svg');
  background-repeat: no-repeat;
}

.fat-content ul {
  padding-right: 17px;
  padding-left: 31px;
}

.filling ul {
  padding-right: 18px;
  padding-left: 33px;
}

.filter button {
  font-weight: 500;
  line-height: 18px;

  height: 36px;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 7px 27px 7px 27px;

  color: rgb(255, 255, 255);
  border: 2px solid rgb(251, 252, 251);
  border-radius: 18px;
  background-color: rgba(255, 255, 255, .2);
}

.filter button:hover,
.filter button:focus {
  color: rgb(50, 50, 50);
  background-color: rgb(251, 252, 251);
}

.filter button:active {
  color: rgb(50, 50, 50);
  border: none;
  background-color: rgb(234, 234, 234);
  -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
  box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

/* Стили для переключения страниц */

.pagination-list {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 13px;
  padding: 0;
}

.pagination-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  list-style: none;
}

.pagination-item {
  margin-right: 3px;
}

.pagination-item:last-child,
.pagination-item:nth-last-child(2) {
  margin-right: 0;
}

.pagination-item a {
  font-weight: 500;
  line-height: 26px;

  position: relative;

  display: inline-block;

  min-width: 26px;
  height: 26px;

  text-align: center;
  vertical-align: middle;

  border-radius: 50%;
}

.pagination-item a:active,
.pagination-item-current a {
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
}

.pagination-item a:hover,
.pagination-item a:focus {
  cursor: pointer;

  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, .2);
}

.pagination-item:first-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
  background-color: transparent;
}

.previous-page a::before {
  position: absolute;
  top: 9px;
  right: 7px;

  width: 9px;
  height: 9px;

  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  border: 2px solid rgb(255, 255, 255);
  border-top: none;
  border-right: none;
}

.next-page a::before {
  position: absolute;
  top: 9px;
  right: 2px;

  width: 9px;
  height: 9px;

  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  border: 1px solid rgb(255, 255, 255);
  border-bottom: none;
  border-left: none;
}

.page-disabled a:hover {
  cursor: default;
}

.previous-page.page-disabled a::before,
.next-page.page-disabled a::before {
  opacity: .2;
}

/* Стили для попапов */

/* Верхнее меню */

.site-navigation li {
  position: relative;
}

.catalog-menu {
  position: absolute;
  z-index: 2;
  top: 37px;
  left: -7px;

  display: none;

  min-width: 142px;
  padding: 0;

  list-style: none;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.catalog-menu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  display: block;

  padding: 9px 9px 9px 20px;

  color: rgb(50, 50, 50);
}

.catalog-menu li:first-child {
  -webkit-box-shadow: 0 9px 0 -8px rgb(209, 208, 206);
  box-shadow: 0 9px 0 -8px rgb(209, 208, 206);
}

.catalog-menu .new-products {
  font-weight: 700;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
  background-color: rgb(251, 222, 215);
}

.catalog-menu a:active {
  background-color: rgb(246, 181, 165);
}

.catalog-menu .menu-active {
  background-color: rgb(208, 112, 88);
}

.catalog-menu .first-item {
  border-radius: 5px 5px 0 0;
}

.catalog-menu .last-item {
  border-radius: 0 0 5px 5px;
}

.main-menu-catalog:hover .catalog-menu,
.main-menu-catalog:focus .catalog-menu {
  display: block;
}

/* Поиск */

.search form {
  position: absolute;
  z-index: 2;
  top: 37px;
  left: -310px;

  display: none;

  width: 341px;
  padding: 20px 15px;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.search input {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  width: 100%;
  height: 44px;
  padding: 8px 0 8px 13px;

  color: rgb(153, 153, 153);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
}

.search:hover .search-form,
.search:focus .search-form {
  display: block;
}

/* Вход */

.navigation-login form {
  position: absolute;
  z-index: 2;
  top: 37px;
  left: -185px;

  display: none;

  width: 277px;
  padding: 20px 17px 20px 19px;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.navigation-login p {
  margin: 0;
  padding: 0;
}

.navigation-login input {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding: 8px 0 8px 13px;

  color: rgb(153, 153, 153);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
}

.login-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cant-login {
  padding: 0;

  list-style: none;
}

.cant-login li {
  margin: 0;
  padding: 0;
}

.cant-login a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  color: rgb(50, 50, 50);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
}

.cant-login a:hover,
.cant-login a:focus,
.cant-login a:active {
  color: rgb(232, 77, 55);
  -webkit-box-shadow: 0 1px 0 0 rgb(249, 205, 196);
  box-shadow: 0 1px 0 0 rgb(249, 205, 196);
}

.navigation-login:hover .login-form,
.navigation-login:focus .login-form {
  display: block;
}

/* Корзина */

.cart-contents {
  position: absolute;
  z-index: 2;
  top: 37px;
  left: -421px;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  width: 539px;
  padding: 8px 14px 21px 16px;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.full-cart table {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;

  width: 100%;
  margin: 0;
  padding: 0;

  border-collapse: collapse;

  color: rgb(50, 50, 50);
}

.table-price {
  color: rgb(153, 153, 153);
}

.full-cart td {
  vertical-align: top;
}

.full-cart td:first-child {
  width: 3%;
}

.full-cart td:nth-child(2) {
  width: 55%;
  padding-top: 21px;
  padding-bottom: 16px;
  padding-left: 53px;
}

.full-cart td:nth-child(3) {
  width: 26%;
  padding-top: 21px;
  padding-left: 20px;
}

.full-cart td:nth-child(4) {
  width: 16%;
  padding-top: 21px;
  padding-left: 12px;
}

.total-value td {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;

  padding: 14px 0;

  text-align: right;

  border-top: 1px solid rgb(202, 202, 199);
}

.cart-contents td {
  position: relative;
}

.item-cart-1 td:nth-child(2)::before {
  position: absolute;
  top: 12px;
  left: 8px;

  width: 33px;
  height: 33px;

  content: '';

  border-radius: 50%;
  background-image: url('../img/orange-ice-cream-small.png');
  background-repeat: no-repeat;
}

.item-cart-2 td:nth-child(2)::before {
  position: absolute;
  top: 12px;
  left: 8px;

  width: 33px;
  height: 33px;

  content: '';

  border-radius: 50%;
  background-image: url('../img/strawberry-white-chocolate-ice-cream-small.png');
  background-repeat: no-repeat;
}

.delete-item {
  width: 25px;
  height: 25px;
  margin-top: 15px;

  border: none;
  background-color: transparent;
  background-image: url('../img/cross-small.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.delete-item:hover {
  cursor: pointer;
}

.full-cart:hover .cart-contents,
.full-cart:focus .cart-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Попап для отзывов */

.popup {
  position: fixed;
  z-index: 3;

  display: none;

  color: rgb(50, 50, 50);
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
}

.popup-feedback {
  top: 338px;
  left: 50%;

  width: 478px;
  margin-left: -238px;
  padding: 18px 25px 26px 24px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 12px;

  width: 26px;
  height: 26px;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-image: url('../img/cross-big.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popup-feedback h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  margin: 0;
  margin-bottom: 18px;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form input {
  width: 267px;
}

.feedback-form textarea {
  width: 100%;
}

/* Показ попапа */

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background-image: url('../img/overlay.png');
}

.popup-show {
  display: block;

  -webkit-animation-name: appearing;
  animation-name: appearing;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.popup-error {
  -webkit-animation-name: bouncing;
  animation-name: bouncing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.overlay-show {
  display: block;

  -webkit-animation-name: overlay-appearing;
  animation-name: overlay-appearing;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes appearing {
  from {
    -webkit-transform: translate(350px, 150px) skewY(30deg) scale(0);
    transform: translate(350px, 150px) skewY(30deg) scale(0);

    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appearing {
  from {
    -webkit-transform: translate(350px, 150px) skewY(30deg) scale(0);
    transform: translate(350px, 150px) skewY(30deg) scale(0);

    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes overlay-appearing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlay-appearing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes bouncing {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes bouncing {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
